.btn,
.add-and-sub-btn {
  width: 20rem;
  border: none;
  padding: .5rem 0;
  border-radius: .5rem;
  background-color: brown;
}

.add-and-sub-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary);
}

.plus, .minus{
  background-color: var(--secondary);
  border: none;
  padding: .5rem;
}

.btn {
  background-color: var(--primary);
}
