/* Main header */
.header_container {
  font-family: var(--font-family);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
  background-color: var(--background);
  border-bottom: .1rem solid var(--primary);
}

.header_container-navbar {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header_container-logo {
  color: var(--font-primary);
  font-size: 2.5rem;
  font-weight: 500;
}

.navbar ul {
  display: flex;
  gap: 1.5rem;
}

.navbar-list_items {
}

.navbar-list_items-links {
  color: var(--font-secondary);
}

.header_container-user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header_container-user-avatar {
  width: 5rem;
}
