.product_details-container{
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product_details-details{

}

.product_details-prices{

}

.product_details-button{

}