.navbar-list_items-links:hover {
  color: var(--font-primary);
  text-decoration: underline;
}

.prev:hover,
.next:hover {
  background-color: var(--primary);
  opacity: .8;
  cursor: pointer;
}

.thumbnail:hover{
  cursor: pointer;
  opacity: 1;
}

.cart:hover, .header_container-user-avatar:hover{
  cursor: pointer;
}

.plus:hover,
.minus:hover {
  background-color: var(--primary);
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #d9480f;
  cursor: pointer;
}
