:root {
  /* Font */
  --base-font-percentage: 62.5%;
  --base-font-size: 1.65rem;
  --font-family: "Inter", sans-serif;

  /* Color Pallete */
  --background: #fff7ed;
  --primary: #ff7d1a;
  --secondary: #f1f3f5;
  --font-primary: #1f2937;
  --font-secondary: #6b7280;
  --font-light:#f8f9fa;
}
